@import "tailwindcss";

@layer components {
  .input {
    @apply w-full border border-gray-300 rounded-xl px-4 py-2 text-sm
           focus:outline-none focus:ring-2 focus:ring-emerald-500;
  }

  .label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
